/***** FOOTER *****/
.footer_detail_page {
    width: 90%;
    margin: 2rem auto;
    background-color: #821717;
    border-radius: 10px;
    padding: 0.5rem 0.75rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: "Inter";
    font-weight: 800;
}

.footer_icons {
    display: flex;
    justify-content: space-between;
    width: 50px;
}

.icon{
    width: 20px;
    height: 20px;
}

@media (min-width: 900px) {
    
    .footer_detail_page {
        height: 15vh;
        font-size: 1.2rem;
        margin-top: 4rem;
    }
}