/***** HEADER *****/
.header__container{
    width: 100%;
    display: flex;
    justify-content: center;
    z-index: 100;
}

.header {
    width: 90%;
    display: flex;
    justify-content: space-between;
    padding: 0 1.25rem;
    align-items: center;
    margin-top: 1.6rem;
    width: 90%;
    background-color: #F3D2AD;
    height: 1.875rem;
    border-radius: 0.625rem;
    position: fixed;
    z-index: 100;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.header__name {
    font-family: "Arsenal SC";
    color: #9A7B65;
    font-size: 1.5rem;
    font-weight: 550;
}

.header__tickets-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    outline: none;
    font-family: "Arsenal";
    font-weight: 500;
    border-radius: 3.125rem;
    background-color: #9A7B65;
    color: #F3D2AD;
    width: 5rem;
    font-size: 1rem;
}

.header__container_desktop {
        display: none;
    }

@media (min-width: 900px) {

    .header {
        width: 80%;
    }
}

@media (min-width: 1000px) {

    .header {
    width: 80%;
    }

    .nav_logo_link {
        text-decoration: none;
        display: flex;
        align-items: center;
    }

    .header__container {
        display: none;
    }

    .header__container_desktop {
        display: block;
        width: 100%;
        display: flex;
        justify-content: center;
        z-index: 100;
    }

    .header__logo-name{
        display: flex;
        align-items: center;
        transition: transform 0.3s ease, box-shadow 0.3s ease;
    }

    .header__logo-name:hover {
        transform: scale(1.05)
    }

    .header__nav-links{
        width: 40%;
        font-family: "Arsenal";
        font-size: 1.2rem;
        color:#7D5E48;
        display: flex;
        justify-content: space-between; 
        margin-right: 10%;
        cursor: pointer; 
    }

    .nav_link {
        transition: transform 0.3s ease, box-shadow 0.3s ease;
    }

    .nav_link:hover {
        transform: scale(1.25);
    }

    .header {
        height: 3rem;
        margin-top: 2.5rem;
    }

    .header__name{
        font-size: 2.25rem;
    }

    .logo_img {
        height: 5rem;
    }

    .header__tickets-btn {
        width: 7rem;
        font-size: 1.5rem;
        transition: transform 0.3s ease, box-shadow 0.3s ease;
        
    }

    .header__tickets-btn:hover{
        background-color: #7D5E48;
        font-size: 1.55rem;
        transform: scale(1.05)
    }

}