:root {
    background-color: rgb(106, 11, 11);
    background: linear-gradient(to top, #320808, #6A0B0B);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.offer {
    display: flex;
    background-color: rgb(255, 204, 000);
    border: 3px solid rgb(106, 11, 11);
    padding: 20px;
    width: 100vw;
    height: 142px;
}
.offer p {
    color: rgb(106, 11, 11);
    font-family: "Inter";
    font-weight: bolder;
    font-size: 36px;
}
.offer img {
    flex: end;
    width: 59.5px;
    height: 59.5px;
}

.heroScroller {
}

h1 {
    font-size: 64px;
    font-style: italic;
    font-family: "Inter";
    font-weight: bold;
    color: rgb(255, 243, 110, 1);
}

.filmWallMain {
    display: flex;
    flex-wrap: wrap;
}

.filmBoxMain {
    display: flex;
    flex-direction: column;
    width: 25%;
}
.filmBoxMain a {
    font-size: 36px;
    color: rgb(255, 243, 110, 1);
    font-family: "Inter";
    font-weight: bold;
}
.filmBoxMain p {
    font-size: 36px;
    color: black;
    font-family: "Inter";
    font-weight: bold;
}
.filmBoxMain a {
    width: 291px;
}