:root {
    --primary-card-color: #821717;
    --primary-text-color-dark: #6A0B0B;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

.body-detail-page {
    position: relative;

    margin: 0;
    height: 100vh;
    
    background: linear-gradient(to top, #320808, #6A0B0B);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.main-detail-page {
  flex-direction: column;
  align-items: center;
}

/***** HERO IMAGE *****/
.hero {
    width: 100vw;
    height: 40vh;
    position: relative;
    overflow: hidden;
}

.hero__image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    object-fit: cover;
    width: 135%;
    height: 111%;
}

.h1_bugonia {
    z-index: 10;
    font-size: 40px;
    color: #F3D2AD;
    position: absolute;
    bottom: 0%;
    left: 10%;
    text-shadow: 3px 5px 20px black;
    font-family: Times;
}

/***** MOVIE INFO *****/
.movie_info_container {
    margin-top: 1rem;
    font-family: "Arsenal";
    color: #F3D2AD;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.movie__desctription, .movie__director, .movie__cast, .gallery {
    width: 90%;
    background-color: var(--primary-card-color);
    border-radius: 10px;
    padding: 0.5rem 0.75rem;
    margin-bottom: 1rem;
}

.movie__director-label, .movie__cast-label{
    font-weight: 600;
}

/***** TICKETS *****/
.tickets_tickets-text {
    font-family: "Arsenal";
    color: #F3D2AD;
    font-weight: bold;
}

.tickets {
    background-color: var(--primary-card-color);
    border-radius: 10px;
    margin: 0 auto;
    width: 90%;
    margin-bottom: 1rem;
    padding: 0.5rem 0.75rem;

}

.tickets_holder {
    max-width: fit-content;
    overflow-x: auto;
    scrollbar-width: none;
    
    display: grid;
    grid-template-rows: repeat(1, 1fr);   
    grid-auto-flow: column;
    justify-items: center;
    gap: 10px;

}

.ticket {
    background-color: #F3D2AD;
    border-radius: 10px;
    padding: 0.5rem;
    width: 5rem;
    margin: 0.5rem;
}

.ticket_day {
    font-family: "Arsenal";
    color: var(--primary-text-color-dark);
    font-size: 0.9rem;
    font-weight: bold;
}
.ticket_date_month, .ticket_time {
    font-family: "Arsenal";
    color: var(--primary-text-color-dark);
    font-size: 0.9rem;
}

/***** GALLERY *****/
.gallery {
    width: 90%;
    margin: 0 auto;
    padding: 3%;

    display: grid;
    grid-template-columns: 0.9fr 1.1fr; 
    grid-template-rows: 1fr 1fr;
    gap: 3%;
}

.big {
    grid-row: 1 / span 2;
}

.item img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    border-radius: 10px;
}

.footer_text {
    text-align: center;
}

@media (min-width: 900px) {

    .hero {
        height: 80vh;
        position: relative;
    }

    .h1_bugonia {
        font-size: 80px;
    }
    

    .movie_info_container {
        margin-top: 0;
    }

    .movie__desctription, .movie__director, .movie__cast, .gallery {
        width: 100%;
    }

    .tickets{
        height: fit-content;
        width: 100%;
    }

    .ticket{
        transition: transform 0.3s ease, box-shadow 0.3s ease;
    }
    .ticket:hover {
        transform: scale(1.05)
    }

    .movie_info_container {grid-area: info;}
    .tickets {grid-area: tickets;}
    
    .grid_section_desktop {
        width: 80%;
        display: grid;
        grid-template-columns: auto auto;
        grid-template-areas: "info tickets";
        height: 50%;
        margin: 0 auto;
        margin-top: 3rem;
        justify-items: stretch;
        align-items: stretch;
        gap: 1rem;
    }
    
    .tickets_holder {
        display: flex;
        flex-wrap: wrap;
    }
    
    .gallery {
        width: 80%;
    }
}

