* {
  box-sizing: border-box;
}
html {
  font-size: 16px;
}


body {
  background: linear-gradient(to top, #320808, #6A0B0B);
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100vh;
}

.headerContainer {
    display: flex;
    justify-content: center;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    align-items: center;
    margin-top: 20px;
    width: 90%;
    background-color: #F3D2AD;
    height: 30px;
    border-radius: 10px;
}

.name {
    font-family: "Arsenal SC";
    color: #9A7B65;
    font-size: 1.5rem;
    font-weight: 550;
}

.buttonTicket {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    outline: none;
    font-family: "Arsenal";
    font-weight: 500;
    border-radius: 50px;
    background-color: #9A7B65;
    color: #F3D2AD;
    width: 5rem;
    font-size: 1rem;
}

.buttonTicket:hover{
    background-color: #7D5E48;
    font-size: 1.05rem;
}
